@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
    box-sizing: border-box;
}

[data-aos] {
    overflow-x: hidden;
}

.swiper-container {
    position: relative;
    padding: 0 60px;
    overflow: visible;
}

.custom-swiper-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    width: 40px;
    height: 40px;
}

.custom-swiper-button-prev {
    left: -5px;
}

.custom-swiper-button-next {
    right: -5px;
}

.nav-link {
    position: relative;
    padding-bottom: 5px;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #000000;
    transition: all 0.3s ease-out;
    transform: translateX(-50%);
}

.nav-link:hover::after {
    width: 100%;
}

.botton-nav-toggle {
   @apply transition duration-300 p-2 rounded
}

.img-about{
background-image: url('/public/img/about_img.avif') ;
background-attachment: fixed;
}

.hero-image {
    background-image: url('/public/img/hero_img.webp');
}

.contact{
    background-image: url('/public/img/bg-contact.webp');
    background-size: cover;
    background-position: center;
}